html {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: #002348;
}

body {
  padding: 20px;
  background-image: url(./dictionaryvisionboard.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 120px;
}

.Synonyms span {
  padding: 3px;
}
